body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.my-form-container {
  font-family: "Roboto", sans-serif;
  padding: 40px 50px;
  background-color: #ffffff;
  border: 2px solid #4a90e2;
  color: #333333;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 20px;
  border-radius: 15px;
  animation: fadeIn 0.5s ease-in-out;
  margin-left: 42%;
}

.container-title {
  margin-bottom: 30px;
  background-color: #4a90e2;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 1rem;
  color: #333333;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus, .form-group textarea:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.2);
}

.form-group small {
  color: #aaaaaa;
}

.btn-primary {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #357ab7;
  transform: translateY(-2px);
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 20px;
  gap: 20px;
  row-gap: 50px;
  justify-content: space-evenly;
  background-color: #f0f4f8;
}

.card {
  background-color: #ffffff;
  border: 2px solid #4a90e2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.card-content {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 20px;
}

.card-link {
  font-size: 1rem;
  color: #4a90e2;
  text-decoration: none;
  font-weight: bold;
}

.card-link:hover {
  text-decoration: underline;
  color: #357ab7;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
