body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
  background-color: #ffffff;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.container-title {
  background-color: #4a90e2;
  color: #ffffff;
  padding: 10px 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 15px 0 15px 0;
}

.card-body {
  padding: 20px;
}

.image-container {
  width: 100%;
  height: 150px; /* You can adjust the height as needed */
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

.image-container blog-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  margin-top: 10px;
  color: #4a90e2;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  margin-top: 10px;
  color: #333333;
  font-size: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
